@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h2>ASP.NET MVC</h2>
    <p>Click Here For More Information</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Heading 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat finibus diam eget 
        interdum.Sed pharetra lacus et lectus vestibulum varius. Ut elit turpis, condimentum a egestas vitae, 
        sodales id urna. Aenean at sapien in leo vulputate condimentum. Donec tempus venenatis eleifend.</p>
    </div>
</div>

